
<%= form_for(@recipe) do |f| %>
<fieldset>
  <div class="field">
    <legend><%= f.label :name %></legend>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class='field'>
  <legend><%= f.label :difficulty_level %> </legend>
  <%= f.text_field :difficulty_level %>
  </div>
</fieldset>
  <br>
  <fieldset>
        <legend>Ingredients</legend>
         <%= f.fields_for :ingredients, @recipe.ingredients.build do |ri| %>
          <div class="nested_fields">
            <div class="field">
              <h4>List of ingredients</h4>
              <%= ri.text_area :name %>
            </div>
         </div>
         <% end %>
       </fieldset>
  <fieldset>
    <div class="field">
        <legend> <%= f.label :instructions %> </legend>
    <%= f.text_area :instructions %> 
  </div>
</fieldset>
  <br>
  <%= f.submit %>
<% end %>