<!DOCTYPE html>
<html>
  <head>
    <title>SaboresDelMundoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
     <% flash.each do |name, msg| %>
      <ul>
        <li id="message"> <%= msg %> </li>
      </ul>
     <% end %>
     <div class="container">
       <%= yield %>
     </div>
     <%= render 'layouts/footer' %>
     <%= params.inspect %>
  </body>
</html>
